@model Lethal.Developer.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Detail";
    var cardcollapseId = "#collapseCardExample";
    var collapse = "collapseCardExample";
    var index = 0;
}

<h1 class="page-header">Topic: <span class="btc-color">@Model.TopicName</span></h1>

<form>
    <div class="input-group">
        <input id="question-input" type="text" class="form-control bg-light border-0 large" placeholder=" Type the exam question... " aria-label="Type Your Question" aria-describedby="basic-addon2">
    </div>
</form>

<form>
    <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
    <script>
        CKEDITOR.replace('editor1');
    </script>
</form>

<button onclick="createQuestion()" class="btn-success create-button">Create Question</button>

<div id="question-alert" class="alert alert-warning d-none text-center" role="alert">
    Dafuq dude, you didn't type a question.
</div>

@foreach (var item in Model.Questions)
{
    <div class="card shadow">
        <a href="@(cardcollapseId + index)" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="@(collapse + index)">
            <div class="float-left">
                <h6 class="m-0 font-weight-bold text-primary">@Html.Raw(item.Q)</h6>
            </div>
            <div class="float-right">
                <button onclick="openIndividualQuestion(@item.Id)" class="btn-warning rounded">Edit</button>
                <button onclick="deleteQuestion(@item.Id)" class="btn-danger rounded">Delete</button>
            </div>
        </a>
            <div class="collapse" id="@(collapse + index)">
                <div class="card-body">
                    @Html.Raw(item.A)
                </div>
            </div>
        </div>
        index++;
}

<script>
    function createQuestion() {
        var question = document.getElementsByTagName("input")[0].value;

        var iframe = document.getElementsByTagName("iframe")[0];
        var html = iframe.contentWindow.document.getElementsByTagName("html")[0];
        var body = html.getElementsByTagName("body")[0];

        var insideBody = body.querySelectorAll('body > *');
        var returnHtml = "";

        insideBody.forEach(x => returnHtml += x.outerHTML);

        var data = {
            Question: question,
            Answer: returnHtml,
            TopicId: @Model.TopicId
        };

        if (question == "") {
            document.getElementById("question-alert").style = "display:block !important;"
        }
        else {
            $.ajax({
                type: "POST",
                url: '/questions/create',
                //headers: {
                //    'Authorization': `Bearer ${token}`,
                //},
                datatype: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (result) {
                    console.log(result);
                    window.location.reload();
                },
                error: function (error) {
                }
            })
        }
    }

    function openIndividualQuestion(id) {
        window.location.href = `/question/${id}`
    }

    function deleteQuestion(id) {
        $.ajax({
            type: "DELETE",
            url: `/questions/delete/${id}`,
            success: function (result) {
                console.log(result);
                window.location.reload();
            },
            error: function (error) {
            }
        })
    }
</script>

